# History Filtering
#
# arrow up to go through history
"\e[A":history-search-backward
# arrow down to go other direction
"\e[B":history-search-forward

# Autocompletion
#
# press tab to cycle autocomplete
"\t":menu-complete
# shift-tab to cycle backwards
"\e[Z":menu-complete-backward
# space auto-expands
Space:magic-space
